absl-py==0.13.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
conllu==4.4
cycler==0.10.0
datasets==1.9.0
deepspeed==0.4.3
dill==0.3.4
filelock==3.0.12
fsspec==2021.6.1
google-auth==1.32.1
google-auth-oauthlib==0.4.4
grpcio==1.38.1
huggingface-hub==0.0.8
idna==2.10
importlib-metadata==4.6.1
joblib==1.0.1
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.2
multiprocess==0.70.12.2
mypy-extensions==0.4.3
ninja==1.10.0.post2
nltk==3.6.2
numpy==1.21.0
oauthlib==3.1.1
packaging==21.0
pandas==1.3.0
Pillow==8.2.0
protobuf==3.17.3
psutil==5.8.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa==4.7.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
seqeval==1.2.2
setuptools-scm==6.0.1
simple-parsing==0.0.15.post1
six==1.16.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==1.8
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.2
transformers==4.6.1
typing-extensions==3.10.0.0
typing-inspect==0.7.1
urllib3==1.26.6
Werkzeug==2.0.1
xxhash==2.0.2
zipp==3.5.0